.App,
.navdrop {
  text-align: center;
}

.lcd-class {
  font-family: digital-display;
  cursor: text;
}

.text-cursor {
  opacity: 0;
}

.lcd-class:hover .text-cursor {
  opacity: 1;
  animation: blinker 0.75s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.1;
  }
}

.dropdown-style {
  font-size: 20px;
  padding: 4px 0 0 0;
  margin: 20px 0 0 0;
  border: 1px solid #ccc;
  width: 150px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.dropdown-style select {
  padding: 5px 8px;
  font-size: 16px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #ee9f1c;
}

.dropdown-style:after {
  top: 70%;
  left: 90%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}

.dropdown-style select:focus {
  outline: none;
  color: #ee9f1c;
}

/* svg { */
/*   pointer-events: none; */
/* } */

/* path { */
/*   pointer-events: auto; */
/* } */

.App-header .header-style {
  /* color: #aedaee; */
  font-size: 3.5em;
  height: 100%;
  margin-top: -200px;
  /* border: 1px solid red; */
  align-items: center;
}

.App-header .text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
  cursor: default;
}

.App-header .text-copy:nth-child(1) {
  stroke: #ee9f1c;
  animation-delay: -1;
}

.App-header .text-copy:nth-child(2) {
  stroke: #ffe9c8;
  animation-delay: -2s;
}

.App-header .text-copy:nth-child(3) {
  stroke: #ee9f1c;
  animation-delay: -3s;
}

.App-header .text-copy:nth-child(4) {
  stroke: #aedaee;
  animation-delay: -4s;
}

.App-header .text-copy:nth-child(5) {
  stroke: #30c0bd;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App input {
  opacity: 0;
  /* background: #000; */
  background: transparent;
  border: none;
  outline: none;
  cursor: default;
  /* position: absolute; */
}

.button-3d {
  position: relative;
  width: auto;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #aedaee;
  background: #30c0bd;
  text-align: center;
  padding: 16px 18px 14px;
  font-size: 22px;
  color: #aedaee;
  margin-top: 20px;
  width: 125px;

  cursor: pointer;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 6px 0px #30c0bd;
  -moz-box-shadow: 0px 6px 0px #30c0bd;
  box-shadow: 0px 6px 0px #269997;
}

.button-3d:active {
  -webkit-box-shadow: 0px 2px 0px #30c0bd;
  -moz-box-shadow: 0px 2px 0px #30c0bd;
  box-shadow: 0px 2px 0px #30c0bd;
  position: relative;
  top: 4px;
  background: #ee9f1c;
}
